/* User: shaamaaa - manga, preset: dataimagelinkafter */
/* Generated: 2026-01-15T21:56:57Z */
.data.image a[href^="/manga/147091/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/263980l.jpg)}
.data.image a[href^="/manga/70941/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/272186l.jpg)}
.data.image a[href^="/manga/123602/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/5/233993l.jpg)}
.data.image a[href^="/manga/187746/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/336179l.jpg)}
.data.image a[href^="/manga/121496/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/3/222295l.jpg)}
.data.image a[href^="/manga/25132/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/260104l.jpg)}
.data.image a[href^="/manga/180134/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/321483l.jpg)}
.data.image a[href^="/manga/128365/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/239675l.jpg)}
.data.image a[href^="/manga/44347/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/3/80661l.jpg)}
.data.image a[href^="/manga/143609/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/264857l.jpg)}
.data.image a[href^="/manga/144152/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/257957l.jpg)}
.data.image a[href^="/manga/115848/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/215132l.jpg)}
.data.image a[href^="/manga/135545/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/248748l.jpg)}
.data.image a[href^="/manga/112268/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/215054l.jpg)}
.data.image a[href^="/manga/146909/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/263446l.jpg)}
.data.image a[href^="/manga/157888/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/280319l.jpg)}
.data.image a[href^="/manga/129656/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/3/242456l.jpg)}
.data.image a[href^="/manga/145320/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/3/265958l.jpg)}
.data.image a[href^="/manga/162964/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/293386l.jpg)}
.data.image a[href^="/manga/121597/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/224525l.jpg)}
.data.image a[href^="/manga/173243/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/3/316683l.jpg)}
.data.image a[href^="/manga/133696/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/244571l.jpg)}
.data.image a[href^="/manga/147986/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/262618l.jpg)}
.data.image a[href^="/manga/137313/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/245817l.jpg)}
.data.image a[href^="/manga/100035/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/3/190005l.jpg)}
.data.image a[href^="/manga/136412/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/3/251219l.jpg)}
.data.image a[href^="/manga/116766/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/219340l.jpg)}
.data.image a[href^="/manga/78523/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/171573l.jpg)}
.data.image a[href^="/manga/88660/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/232311l.jpg)}
.data.image a[href^="/manga/189834/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/340228l.jpg)}
.data.image a[href^="/manga/157273/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/3/287148l.jpg)}
.data.image a[href^="/manga/144267/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/5/256607l.jpg)}
