/* User: shaamaaa - manga, preset: dataimagelinkafter */
/* Generated: 2025-12-28T16:22:36Z */
.data.image a[href^="/manga/146909/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/263446l.jpg)}
.data.image a[href^="/manga/115848/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/215132l.jpg)}
.data.image a[href^="/manga/78523/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/171573l.jpg)}
.data.image a[href^="/manga/123602/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/5/233993l.jpg)}
.data.image a[href^="/manga/88660/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/232311l.jpg)}
.data.image a[href^="/manga/121496/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/3/222295l.jpg)}
.data.image a[href^="/manga/147986/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/262618l.jpg)}
.data.image a[href^="/manga/133696/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/244571l.jpg)}
.data.image a[href^="/manga/112268/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/215054l.jpg)}
.data.image a[href^="/manga/136412/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/3/251219l.jpg)}
.data.image a[href^="/manga/144152/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/2/257957l.jpg)}
.data.image a[href^="/manga/25132/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/260104l.jpg)}
.data.image a[href^="/manga/70941/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/272186l.jpg)}
.data.image a[href^="/manga/116766/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/219340l.jpg)}
.data.image a[href^="/manga/121597/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/1/224525l.jpg)}
.data.image a[href^="/manga/144267/"]:after{background-image:url(https://cdn.myanimelist.net/images/manga/5/256607l.jpg)}
